<div class="code-form" style="display: none;">
  <div class="row">
    <div class="col-md-12">
      <%= simple_form_for :code_node, url: execute_ruby_path, html: { class: 'ruby-code' }, remote: true do |f| %>
        <div class="field">
          <%= f.input(
            :code, as: :text, label: false,
            input_html: { value: node.content, id: "code_#{node.id}", class: 'col-md-12', rows: 6 }
          ) %>
        </div>
        
        <div class="actions">
          <%= f.button :submit, t('view.slides.execute'), class: 'btn-default avoid-disable' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% unless @modal_code_displayed %>
  <% @modal_code_displayed = true %>

  <%= content_for :content_bottom do %>
    <%= render partial: 'slides/modal_for_result', locals: { id: 'modal-code' } %>
  <% end %>
<% end %>
