<%= simple_form_for([@lesson, @slide], defaults: { input_html: { class: 'span11' } }) do |f| %>
  <%= content_for :js_extra do -%>
    <%= raw "var textNode='#{generate_template(f, :nodes,
      locals: { disabled: false }, object: TextNode.new)}';" %>
    <%= raw "var codeNode='#{generate_template(f, :nodes,
      locals: { disabled: false }, object: CodeNode.new)}';" %>
  <% end -%>
  
  <div class="row-fluid">
    <div class="span6">
      <%= f.input :title, input_html: { autofocus: true, maxlength: 255 } %>
      <%= f.input :number, input_html: { min: 1, max: 999, autocomplete: 'off' } %>
    </div>
    <div class="span6">
      <%= f.input :extra_classes, input_html: { maxlength: 255 } %>
      <%= f.input :style, input_html: { maxlength: 255 } %>
    </div>
  </div>
  
  <div class="page-header">
    <h3><%= t 'view.slides.nodes' %></h3>
  </div>

  <div class="row-fluid">
    <div class="span8">
      <h4><%= Node.human_attribute_name 'content' %></h4>
    </div>
    <div class="span2">
      <h4><%= Node.human_attribute_name 'options' %></h4>
    </div>
  </div>

  <div id="nodes" class="items">
    <%= f.simple_fields_for :nodes do |n_f| %>
      <%= render partial: 'node', locals: {
        f: n_f, is_dynamic: false
      } %>
    <% end %>
  </div>

  <div>
    <%= link_to(
      t('view.slides.add_text_node'), '#',
      class: 'btn btn-mini', data: {
        template: 'textNode', container: '#nodes', event: 'addNestedItem'
      }
    ) %> |
    <%= link_to(
      t('view.slides.add_code_node'), '#',
      class: 'btn btn-mini', data: {
        template: 'codeNode', container: '#nodes', event: 'addNestedItem'
      }
    ) %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
    <div class="pull-right"><%= yield :form_actions %></div>
  </div>
<% end %>
<script type="text/javascript">Util.refreshSortNumbers();</script>
