<% cache [slide, has_not_voted?, local?] do %>
  <section class="slide <%= raw slide.extra_classes %>" id="<%= slide.anchor %>" style="<%= raw slide.style %>">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <div class="navbar-brand"><%= slide.title %></div>
      </div>
      <div class="navbar-right">
        <span class="badge"><%= slide.number %></span>
      </div>
    </div>

    <div class="content">
      <% slide.all_nodes.each do |node| %>
        <div class="node">
          <%= draw_node_optionals(node) %>
          <%= node.draw %>
        </div>
      <% end %>
      <% if last %>
        <% if has_not_voted? %>
          <div class="row">
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-4">
              <%= render template: 'feedbacks/new' %>
            </div>
          </div>
        <% elsif !local? %>
          <div class="feedback"><%= render template: 'feedbacks/show' %></div>
        <% end %>
      <% end %>
    </div>
    <footer class="alert alert-info">
      <%= t('app.powered_by.html') %>
      <div class="btn-group dropup pull-right">
        <%= link_to('#', class: 'btn btn-xs dropdown-toggle', data: { toggle: 'dropdown' }) do %>
          <span class="glyphicon glyphicon-cog"></span>
        <% end %>

        <ul class="dropdown-menu">
          <% if local? %>
            <li>
              <%= link_to t('view.slides.new'), new_lesson_slide_path(lesson), data: { action: 'new' } %>
            </li>
            <li>
              <%= link_to t('label.edit'), edit_lesson_slide_path(lesson, slide), data: { action: 'edit' } %>
            </li>
          <% end %>
          <li><%= link_to t('label.list'), lesson_slides_path(lesson) %></li>
          <li>
            <%= link_to(
              t('view.slides.increase_font_size'), '#',
              data: { 'increase-font-size' => true, 'target' => '.slide' }
            ) %>
          </li>
          <li>
            <%= link_to(
              t('view.slides.decrease_font_size'), '#',
              data: { 'decrease-font-size' => true, 'target' => '.slide' }
            ) %>
          </li>
        </ul>
      </div>
      <time class="pull-right badge"><%= Time.now.to_s(:time) %></time>
    </footer>
  </section>
<% end %>
