<section class="slide" id="<%= slide.anchor %>">
  <header>
    <h1><%= slide.title %></h1>
    <p class="number"><%= slide.number %></p>
  </header>
  
  <div class="content">
    <% slide.all_nodes.each do |node| %>
      <div class="node">
        <%= draw_node_optionals(node) %>
        <%= node.draw %>
      </div>
    <% end %>
  </div>
  <footer>
    <div>
      <div class="author"><%= textilize t('app.powered_by') %></div>
      <nav class="links">
        <span class="arrow_left"></span>
        <div>
          <% if request.local? %>
            <%= link_to t('view.slides.new'), new_lesson_slide_path(lesson), :class => 'new' %> |
            <%= link_to t('label.edit'), edit_lesson_slide_path(lesson, slide), :class => 'edit' %> |
          <% end %>
          <%= link_to t('label.list'), lesson_slides_path(lesson) %>
          <div class="ui_control">
            <%= t('view.slides.adjust_font_size') %>
            <a class="increase_font_size" data-target=".slide" href="#">
              <span class="arrow_up"></span>
            </a> |
            <a class="decrease_font_size" data-target=".slide" href="#">
              <span class="arrow_down"></span>
            </a>
          </div>
        </div>
      </nav>
      <time><%= Time.now.to_s(:time) %></time>
    </div>
  </footer>
</section>