<section class="slide <%= raw slide.extra_classes %>" id="<%= slide.anchor %>" style="<%= raw slide.style %>">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <div class="brand"><%= slide.title %></div>
        <div class="badge pull-right"><%= slide.number %></div>
      </div>
    </div>
  </div>
  
  <div class="content">
    <% slide.all_nodes.each do |node| %>
      <div class="node">
        <%= draw_node_optionals(node) %>
        <%= node.draw %>
      </div>
    <% end %>
    <% if last %>
      <% if has_not_voted? %>
        <%= render template: 'feedbacks/new' %>
      <% elsif !local? %>
        <div class="feedback"><%= render template: 'feedbacks/show' %></div>
      <% end %>
    <% end %>
  </div>
  <footer class="alert alert-info">
    <h4 class="alert-heading pull-left"><%= t('app.powered_by.html') %></h4>
    <div class="btn-group dropup pull-right">
      <%= link_to(
        '&#x2699;'.html_safe, '#', class: 'btn btn-mini dropdown-toggle iconic',
        data: { toggle: 'dropdown' }
      ) %>

      <ul class="dropdown-menu">
        <% if local? %>
          <li>
            <%= link_to t('view.slides.new'), new_lesson_slide_path(lesson), data: { action: 'new' } %>
          </li>
          <li>
            <%= link_to t('label.edit'), edit_lesson_slide_path(lesson, slide), data: { action: 'edit' } %>
          </li>
        <% end %>
        <li><%= link_to t('label.list'), lesson_slides_path(lesson) %></li>
        <li>
          <%= link_to(
            t('view.slides.increase_font_size'), '#',
            data: { 'increase-font-size' => true, 'target' => '.slide' }
          ) %>
        </li>
        <li>
          <%= link_to(
            t('view.slides.decrease_font_size'), '#',
            data: { 'decrease-font-size' => true, 'target' => '.slide' }
          ) %>
        </li>
      </ul>
    </div>
    <time class="pull-right badge"><%= Time.now.to_s(:time) %></time>
  </footer>
</section>
