<table class="list">
  <thead>
    <tr>
      <th><%= Slide.human_attribute_name :title %></th>
      <th><%= Slide.human_attribute_name :number %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slides.each do |slide| %>
      <tr>
        <td><%= slide.title %></td>
        <td><%= slide.number %></td>
        <td><%= link_to t(:'label.show'), slide %></td>
        <td><%= link_to t(:'label.edit'), edit_slide_path(slide) %></td>
        <td><%= button_to t(:'label.delete'), slide,
          :confirm => t(:'messages.confirmation'), :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav class="links">
  <%= pagination_links(@slides) %>
  <%= link_to t(:'label.new'), new_slide_path %>
</nav>