<h2 class="title"><%= @lesson %></h2>
<table class="list">
  <thead>
    <tr>
      <th><%= Slide.human_attribute_name :title %></th>
      <th><%= Slide.human_attribute_name :number %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slides.each do |slide| %>
      <tr>
        <td><%= slide.title %></td>
        <td><%= slide.number %></td>
        <td><%= link_to t('label.show'), course_lesson_path(@lesson.course, @lesson, anchor: slide.anchor) %></td>
        <td><%= link_to t('label.edit'), edit_lesson_slide_path(@lesson, slide) %></td>
        <td><%= button_to t('label.delete'), lesson_slide_path(@lesson, slide),
          confirm: t('messages.confirmation'), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav class="links">
  <%= pagination_links(@slides) %>
  <%= link_to t('view.slides.new'), new_lesson_slide_path(@lesson) %>
</nav>