<table class="table table-striped">
  <caption>
    <h4><%= t('view.lessons.course.html', course: @course.to_s) %></h4>
  </caption>
  <thead>
    <tr>
      <th><%= Lesson.human_attribute_name 'name' %></th>
      <th><%= Lesson.human_attribute_name 'sequence' %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td>
          <%= link_to(
            lesson.name, lesson_slides_path(lesson),
            title: t('view.lessons.show_slides'), data: { 'show-tooltip' => true }
          ) %>
        </td>
        <td><%= lesson.sequence %></td>
        <td><%= link_to_lesson_feedback(lesson) if local? %></td>
        <td><%= link_to_show [@course, lesson] %></td>
        <td><%= link_to_edit edit_course_lesson_path(@course, lesson) if local? %></td>
        <td><%= link_to_destroy [@course, lesson] if local? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pagination_links(@lessons) %>

<nav class="form-actions">
  <%= link_to t('view.lessons.new'), new_course_lesson_path(@course), class: 'btn btn-primary' if local? %>
</nav>
