<table class="table table-striped">
  <caption>
    <h4><%= link_to @lesson, [@lesson.course, @lesson]%></h4>
  </caption>
  <thead>
    <tr>
      <th><%= Feedback.human_attribute_name 'rate' %></th>
      <th><%= Feedback.human_attribute_name 'ip' %></th>
      <th><%= Feedback.human_attribute_name 'comments' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.rate %></td>
        <td><%= feedback.ip %></td>
        <td><%= feedback.comments %></td>
        <td><%= link_to_show lesson_feedback_path(@lesson, feedback, details: true) %></td>
        <td><%= link_to_edit edit_lesson_feedback_path(@lesson, feedback) %></td>
        <td><%= link_to_destroy [@lesson, feedback] if feedback.can_be_destroyed? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pagination_links(@feedbacks) %>

<nav class="form-actions">
  <%= link_to t('label.back'), course_lessons_path(@lesson.course) %>
</nav>
