<div class="feedback">
  <%= simple_form_for(@feedback, remote: true) do |f| %>
    <div class="rating">
      <% (1..5).reverse_each do |i| %>
        <%= f.radio_button :rate, i.to_s, id: "star#{i}" %>
        <%= f.label(
          :rate, '&#x2605;'.html_safe,
          for: "star#{i}", class: "for-#{i}-stars iconic",
          title: t("view.feedbacks.rate.#{i}")
        ) %>
      <% end %>
    </div>
  
    <%= f.input :comments, label: false, input_html: {
      rows: 3, placeholder: Feedback.human_attribute_name('comments')
    } %>

    <div class="actions">
      <%= f.input :lesson_id, as: :hidden %>
      <%= f.button :submit %>
    </div>
  <% end %>
</div>