<div class="feedback">
  <%= simple_form_for([@lesson, @feedback], remote: true) do |f| %>
    <div class="rating">
      <% (1..5).reverse_each do |i| %>
        <%= f.radio_button :rate, i.to_s, id: "star#{i}" %>
        <%= f.label(
          :rate, nil,
          for: "star#{i}", class: "for-#{i}-stars glyphicon glyphicon-star",
          title: t("view.feedbacks.rate.#{i}")
        ) %>
      <% end %>
    </div>
  
    <%= f.input :comments, label: false, input_html: {
      rows: 3, class: 'col-md-12',
      placeholder: Feedback.human_attribute_name('comments')
    } %>

    <div class="actions">
      <%= f.button :submit, class: 'btn-default btn-lg' %>
    </div>
  <% end %>
</div>
