<%= simple_form_for(@course, defaults: { input_html: { class: 'span6' } }) do |f| %>
  <%= f.input :name, input_html: { autofocus: true, maxlength: 255 } %>
  <%= f.input :notes, input_html: { rows: 5 } %>

  <div class="form-actions">
    <%= f.input :lock_version, as: :hidden %>
    <%= f.button :submit, class: 'btn-primary' %>
    <div class="pull-right"><%= yield :form_actions %></div>
  </div>
<% end %>