<p>
  <b><%= Course.human_attribute_name 'name' %></b>:
  <%= @course.name %>
</p>

<p>
  <b><%= Course.human_attribute_name 'notes' %></b>:
  <%= simple_format @course.notes %>
</p>

<nav class="links">
  <%= link_to t('view.courses.add_lesson'), new_course_lesson_path(@course) %> |
  <%= link_to_edit edit_course_path(@course) %> |
  <%= link_to t('label.list'), courses_path %>
</nav>