<%= form_for(@image, html: { multipart: true }) do |f| %>
  <%= show_error_messages @image %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, size: nil, maxlength: 255, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :caption %>
    <%= f.text_field :caption, size: nil, maxlength: 255 %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.hidden_field :lock_version %>
    <%= f.submit %>
  </div>
<% end %>