<%= simple_form_for(@image, defaults: { input_html: { class: 'col-md-11' } }) do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :name, input_html: { maxlength: 255, autofocus: true } %>
    </div>
    <div class="col-md-6">
      <%= f.input :caption, input_html: { maxlength: 255 } %>
    </div>
  </div>

  <%= f.input :image %>

  <div class="form-actions">
    <%= f.input :lock_version, as: :hidden %>
    <%= f.button :submit, class: 'btn-primary' %>
    <div class="pull-right"><%= yield :form_actions %></div>
  </div>
<% end %>
