<div class="page-header">
  <h1><%= @image.name %></h1>
</div>

<div class="row">
  <div class="col-md-6">
    <%= image_tag @image.image.url(:medium), alt: @image.caption %>
  </div>
  <div class="col-md-6">
    <dl>
      <% ([:original] + @image.styles.keys).each do |style| %>
        <dt>
          <%= t("view.images.styles.#{style}") %>
          (<%= link_to t('label.show'), @image.image.url(style) %>)
        </dt>
        <dd>
          <%= @image.image.url(style) %>
        </dd>
      <% end %>
    </dl>
  </div>
</div>

<nav class="form-actions">
  <%= link_to_edit edit_image_path(@image) %> |
  <%= link_to_destroy @image %> |
  <%= link_to t('label.back'), images_path %>
</nav>
