<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= [t('app.name'), @title].compact.join(' | ') %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <%= favicon_link_tag %>
  <%= javascript_tag do %>
    <%= yield :js_extra %>
  <% end %>
</head>
<body id="<%= "ig_#{controller_name}" %>" data-action="<%= action_name %>">
  <%= render 'shared/menu' if request.local? %>
  <div id="main_container"><%= yield %></div>
  <%= render 'shared/notice' if flash.notice %>
  <%= render 'shared/alert' if flash.alert %>
</body>
</html>